<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Միջազգային տենդերներ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <!-- App css -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" />

</head>

<body>
<!-- leftbar-tab-menu -->
<div class="leftbar-tab-menu">
    <div class="main-icon-menu">
        <a href="../crm/crm-index.html" class="logo logo-metrica d-block text-center">
                    <span>
                        <img src="../assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
                    </span>
        </a>
        <nav class="nav">
            <a href="#MetricaDashboard" class="nav-link" data-toggle="tooltip-custom" data-placement="right"  data-trigger="hover" title="" data-original-title="Dashboard">
                <i data-feather="monitor" class="align-self-center menu-icon icon-dual"></i>
            </a><!--end MetricaDashboards-->

            <a href="#MetricaApps" class="nav-link" data-toggle="tooltip-custom" data-placement="right"  data-trigger="hover" title="" data-original-title="Apps">
                <i data-feather="grid" class="align-self-center menu-icon icon-dual"></i>
            </a><!--end MetricaApps-->

            <a href="#MetricaUikit" class="nav-link " data-toggle="tooltip-custom" data-placement="right"  data-trigger="hover" title="" data-original-title="UI Kit">
                <i data-feather="package" class="align-self-center menu-icon icon-dual"></i>
            </a><!--end MetricaUikit-->

            <a href="#MetricaPages" class="nav-link" data-toggle="tooltip-custom" data-placement="right"  data-trigger="hover" title="" data-original-title="Pages">
                <i data-feather="copy" class="align-self-center menu-icon icon-dual"></i>
            </a><!--end MetricaPages-->

            <a href="#MetricaAuthentication" class="nav-link" data-toggle="tooltip-custom" data-placement="right"  data-trigger="hover" title="" data-original-title="Authentication">
                <i data-feather="lock" class="align-self-center menu-icon icon-dual"></i>
            </a> <!--end MetricaAuthentication-->

        </nav><!--end nav-->
        <div class="pro-metrica-end">
            <a href="" class="help" data-toggle="tooltip-custom" data-placement="right"  data-trigger="hover" title="" data-original-title="Chat">
                <i data-feather="message-circle" class="align-self-center menu-icon icon-md icon-dual mb-4"></i>
            </a>
            <a href="" class="profile">
                <img src="../assets/images/users/user-4.jpg" alt="profile-user" class="rounded-circle thumb-sm">
            </a>
        </div>
    </div><!--end main-icon-menu-->
    <div class=" main-menu-inner active">
        <!-- LOGO -->
        <div class="topbar-left">
            <a href="../crm/crm-index.html" class="logo">
                        <span>
                            <img src="../assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark">
                            <img src="../assets/images/logo.png" alt="logo-large" class="logo-lg logo-light">
                        </span>
            </a>
        </div>
        <!--end logo-->
        <div class="menu-body slimscroll">
            <div id="MetricaDashboard" class="main-icon-menu-pane">
                <div class="title-box">
                    <h6 class="menu-title">Dashboard</h6>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="../analytics/analytics-index.html">Analytic</a></li>
                    <li class="nav-item"><a class="nav-link" href="../crypto/crypto-index.html">Crypto</a></li>
                    <li class="nav-item"><a class="nav-link" href="../crm/crm-index.html">CRM</a></li>
                    <li class="nav-item"><a class="nav-link" href="../projects/projects-index.html">Project</a></li>
                    <li class="nav-item"><a class="nav-link" href="../ecommerce/ecommerce-index.html">Ecommerce</a></li>
                    <li class="nav-item"><a class="nav-link" href="../helpdesk/helpdesk-index.html">Helpdesk</a></li>
                    <li class="nav-item"><a class="nav-link" href="../hospital/hospital-index.html">Hospital</a></li>
                </ul>
            </div><!-- end Dashboards -->

            <div id="MetricaApps" class="main-icon-menu-pane">
                <div class="title-box">
                    <h6 class="menu-title">Apps</h6>
                </div>
                <ul class="nav metismenu">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: void(0);"><span class="w-100">Email</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="../apps/email-inbox.html">Inbox</a></li>
                            <li><a href="../apps/email-read.html">Read Email</a></li>
                        </ul>
                    </li><!--end nav-item-->
                    <li class="nav-item"><a class="nav-link" href="../apps/chat.html">Chat</a></li>
                    <li class="nav-item"><a class="nav-link" href="../apps/contact-list.html">Contact List</a></li>
                    <li class="nav-item"><a class="nav-link" href="../apps/calendar.html">Calendar</a></li>
                    <li class="nav-item"><a class="nav-link" href="../apps/invoice.html">Invoice</a></li>
                </ul>
            </div><!-- end Crypto -->

            <div id="MetricaUikit" class="main-icon-menu-pane active">
                <div class="title-box">
                    <h6 class="menu-title">Այլ մրցույթներ, մասնակիցներ, գներ, հաղթողներ</h6>
                </div>
                <ul class="nav metismenu">
                    <li class="nav-item pt-4 pb-4 ">
                        <a class="nav-link p-0 " href="active_tenders.html"><span class="w-100">Ակտիվ տենդերներ</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    </li><!--end nav-item-->
                    <li class="nav-item pt-4 pb-4">
                        <a class="nav-link p-0" href="completed_tenders.html"><span class="w-100">Ավարտված տենդերների մասնակիցներ, գներ, հաղթողներ</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    </li><!--end nav-item-->
                    <li class="nav-item pt-4 pb-4">
                        <a class="nav-link p-0" href="other-favorites.html"><span class="w-100">Հետաքրքրող  Մրցույթներ</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    </li><!--end nav-item-->
                    <li class="nav-item pt-4 pb-4">
                        <a class="nav-link p-0" href="winning-competitions.html"><span class="w-100">Հաղթած մրցույթներ</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    </li><!--end nav-item-->
                    <li class="nav-item pt-4 pb-4">
                        <a class="nav-link p-0" href="international-tenders.html"><span class="w-100">Միջազգային տենդերներ</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    </li><!--end nav-item-->
                </ul><!--end nav-->
            </div><!-- end Others -->

            <div id="MetricaPages" class="main-icon-menu-pane">
                <div class="title-box">
                    <h6 class="menu-title">Pages</h6>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-profile.html">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-tour.html">Tour</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-timeline.html">Timeline</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-treeview.html">Treeview</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-starter.html">Starter Page</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-pricing.html">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-blogs.html">Blogs</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-faq.html">FAQs</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-gallery.html">Gallery</a></li>
                </ul>
            </div><!-- end Pages -->
            <div id="MetricaAuthentication" class="main-icon-menu-pane">
                <div class="title-box">
                    <h6 class="menu-title">Authentication</h6>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-login.html">Log in</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-login-alt.html">Log in alt</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-register.html">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-register-alt.html">Register-alt</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-recover-pw.html">Re-Password</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-recover-pw-alt.html">Re-Password-alt</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-lock-screen.html">Lock Screen</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-lock-screen-alt.html">Lock Screen</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-404.html">Error 404</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-404-alt.html">Error 404-alt</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-500.html">Error 500</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-500-alt.html">Error 500-alt</a></li>
                </ul>
            </div><!-- end Authentication-->
        </div><!--end menu-body-->
    </div><!-- end main-menu-inner-->
</div>
<!-- end leftbar-tab-menu-->

<!-- Top Bar Start -->
<div class="topbar">
    <!-- Navbar -->
    <nav class="navbar-custom">
        <ul class="list-unstyled topbar-nav float-right mb-0">
            <li class="hidden-sm">
                <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="javascript: void(0);" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    English <img src="../assets/images/flags/us_flag.jpg" class="ml-2" height="16" alt=""/> <i class="mdi mdi-chevron-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript: void(0);"><span> German </span><img src="../assets/images/flags/germany_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>
                    <a class="dropdown-item" href="javascript: void(0);"><span> Italian </span><img src="../assets/images/flags/italy_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>
                    <a class="dropdown-item" href="javascript: void(0);"><span> French </span><img src="../assets/images/flags/french_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>
                    <a class="dropdown-item" href="javascript: void(0);"><span> Spanish </span><img src="../assets/images/flags/spain_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>
                    <a class="dropdown-item" href="javascript: void(0);"><span> Russian </span><img src="../assets/images/flags/russia_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>
                </div>
            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <i class="ti-bell noti-icon"></i>
                    <span class="badge badge-danger badge-pill noti-icon-badge">2</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-lg pt-0">

                    <h6 class="dropdown-item-text font-15 m-0 py-3 bg-primary text-white d-flex justify-content-between align-items-center">
                        Notifications <span class="badge badge-light badge-pill">2</span>
                    </h6>
                    <div class="slimscroll notification-list">
                        <!-- item-->
                        <a href="#" class="dropdown-item py-3">
                            <small class="float-right text-muted pl-2">2 min ago</small>
                            <div class="media">
                                <div class="avatar-md bg-primary">
                                    <i class="la la-cart-arrow-down text-white"></i>
                                </div>
                                <div class="media-body align-self-center ml-2 text-truncate">
                                    <h6 class="my-0 font-weight-normal text-dark">Your order is placed</h6>
                                    <small class="text-muted mb-0">Dummy text of the printing and industry.</small>
                                </div><!--end media-body-->
                            </div><!--end media-->
                        </a><!--end-item-->
                        <!-- item-->
                        <a href="#" class="dropdown-item py-3">
                            <small class="float-right text-muted pl-2">10 min ago</small>
                            <div class="media">
                                <div class="avatar-md bg-success">
                                    <i class="la la-group text-white"></i>
                                </div>
                                <div class="media-body align-self-center ml-2 text-truncate">
                                    <h6 class="my-0 font-weight-normal text-dark">Meeting with designers</h6>
                                    <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                </div><!--end media-body-->
                            </div><!--end media-->
                        </a><!--end-item-->
                        <!-- item-->
                        <a href="#" class="dropdown-item py-3">
                            <small class="float-right text-muted pl-2">40 min ago</small>
                            <div class="media">
                                <div class="avatar-md bg-pink">
                                    <i class="la la-list-alt text-white"></i>
                                </div>
                                <div class="media-body align-self-center ml-2 text-truncate">
                                    <h6 class="my-0 font-weight-normal text-dark">UX 3 Task complete.</h6>
                                    <small class="text-muted mb-0">Dummy text of the printing.</small>
                                </div><!--end media-body-->
                            </div><!--end media-->
                        </a><!--end-item-->
                        <!-- item-->
                        <a href="#" class="dropdown-item py-3">
                            <small class="float-right text-muted pl-2">1 hr ago</small>
                            <div class="media">
                                <div class="avatar-md bg-warning">
                                    <i class="la la-truck text-white"></i>
                                </div>
                                <div class="media-body align-self-center ml-2 text-truncate">
                                    <h6 class="my-0 font-weight-normal text-dark">Your order is placed</h6>
                                    <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                </div><!--end media-body-->
                            </div><!--end media-->
                        </a><!--end-item-->
                        <!-- item-->
                        <a href="#" class="dropdown-item py-3">
                            <small class="float-right text-muted pl-2">2 hrs ago</small>
                            <div class="media">
                                <div class="avatar-md bg-info">
                                    <i class="la la-check-circle text-white"></i>
                                </div>
                                <div class="media-body align-self-center ml-2 text-truncate">
                                    <h6 class="my-0 font-weight-normal text-dark">Payment Successfull</h6>
                                    <small class="text-muted mb-0">Dummy text of the printing.</small>
                                </div><!--end media-body-->
                            </div><!--end media-->
                        </a><!--end-item-->
                    </div>
                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                        View all <i class="fi-arrow-right"></i>
                    </a>
                </div>
            </li>

            <li class="dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <img src="../assets/images/users/user-4.jpg" alt="profile-user" class="rounded-circle" />
                    <span class="ml-1 nav-user-name hidden-sm">Amelia <i class="mdi mdi-chevron-down"></i> </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i class="dripicons-user text-muted mr-2"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="dripicons-wallet text-muted mr-2"></i> My Wallet</a>
                    <a class="dropdown-item" href="#"><i class="dripicons-gear text-muted mr-2"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i class="dripicons-lock text-muted mr-2"></i> Lock screen</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
                </div>
            </li>
            <li class="mr-2">
                <a href="#" class="nav-link" data-toggle="modal" data-animation="fade" data-target=".modal-rightbar">
                    <i data-feather="align-right" class="align-self-center"></i>
                </a>
            </li>
        </ul><!--end topbar-nav-->

        <ul class="list-unstyled topbar-nav mb-0">
            <li>
                <a href="../crm/crm-index.html">
                            <span class="responsive-logo">
                                <img src="../assets/images/logo-sm.png" alt="logo-small" class="logo-sm align-self-center" height="34">
                            </span>
                </a>
            </li>
            <li>
                <button class="button-menu-mobile nav-link">
                    <i data-feather="menu" class="align-self-center"></i>
                </button>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown"
                   href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                            <span class="ml-1 p-2 bg-soft-classic nav-user-name hidden-sm rounded">System <i
                                    class="mdi mdi-chevron-down"></i> </span>
                </a>
                <div class="dropdown-menu dropdown-xl dropdown-menu-left p-0">
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-6">
                            <div class="text-center system-text">
                                <h4 class="text-white">The Poworfull Dashboard</h4>
                                <p class="text-white">See all the pages Metrica.</p>
                                <a href="https://mannatthemes.com/metrica/" class="btn btn-sm btn-pink mt-2">See Dashboard</a>
                            </div>
                            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../assets/images/dashboard/dash-1.png" class="d-block img-fluid" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/images/dashboard/dash-4.png" class="d-block img-fluid" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/images/dashboard/dash-2.png" class="d-block img-fluid" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/images/dashboard/dash-3.png" class="d-block img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-12 col-lg-6">
                            <div class="divider-custom mb-0">
                                <div class="divider-text bg-light">All Dashboard</div>
                                </divi>
                                <div class="p-4">
                                    <div class="row">
                                        <div class="col-6">
                                            <a class="dropdown-item mb-2" href="../analytics/analytics-index.html"> Analytics</a>
                                            <a class="dropdown-item mb-2" href="../crypto/crypto-index.html"> Crypto</a>
                                            <a class="dropdown-item mb-2" href="../crm/crm-index.html"> CRM</a>
                                            <a class="dropdown-item" href="../projects/projects-index.html"> Project</a>
                                        </div>
                                        <div class="col-6">
                                            <a class="dropdown-item mb-2" href="../ecommerce/ecommerce-index.html"> Ecommerce</a>
                                            <a class="dropdown-item mb-2" href="../helpdesk/helpdesk-index.html"> Helpdesk</a>
                                            <a class="dropdown-item" href="../hospital/hospital-index.html"> Hospital</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>
                </div>

            </li>
            <li class="hide-phone app-search">
                <form role="search" class="">
                    <input type="text" id="AllCompo" placeholder="Search..." class="form-control">
                    <a href=""><i class="fas fa-search"></i></a>
                </form>
            </li>
        </ul>
    </nav>
    <!-- end navbar-->
</div>
<!-- Top Bar End -->

<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="row mb-5">
            <div class="col-lg-10 d-flex align-items-center justify-content-between mt-5">
                <h4 class=" font-18 text-dark">Միջազգային տենդերներ</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title"></h4>
                        <table id="datatable" class="table table-bordered dt-responsive nowrap text-center" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                            <tr>
                                <th>Անվանումը</th>
                                <th>Կատեգորիա</th>
                                <th>Ժամկետը սկիզբ/ավարտ</th>


                                <th>Մրցույթի հրավեր</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="#" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg">
                                        «Երևան, Վարշավա, Տիրանա մայրաքաղաքների համագործակցությունը վտանգավոր թափոնների կառավարման
                                        ընդհանուր մարտահրավերների շուրջ» ծրագրի ելակետային ուսումնասիրության մրցույթ
                                    </a>
                                </td>
                                <td>Փորձաքննության ծառայություններ</td>
                                <td>13.11.2020 - 13.11.2021 18:02</td>


                                <td>
                                    <button type="button" class="btn btn-primary mb-2" data-toggle="modal"
                                            data-target="#exampleModal3">
                                        Բեռնել
                                    </button>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg-2">
                                    «Երևան, Վարշավա, Տիրանա մայրաքաղաքների համագործակցությունը
                                        վտանգավոր թափոնների կառավարման ընդհանուր մարտահրավերների շուրջ»
                                        ծրագրի ելակետային ուսումնասիրության մրցույթի արդյունքներ
                                </a>
                                </td>
                                <td>Փորձաքննության ծառայություններ</td>
                                <td>06.10.2020 - 06.10.2021 15:52</td>

                                <td>
                                    <button type="button" class="btn btn-primary mb-2">
                                        Բեռնել
                                    </button>



                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0" id="exampleModalLabel">111</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="bg-light p-3 mt-2 mb-2">
                                    <h4 class="mt-0 header-title">Դուք պետք է մուտքագրեք PIN կոդը</h4>
                                    <div class="highlighter-rouge" style="color: red">
                                        3 անգամ սխալ հավաքելու դեպքում էջը կարգելափակվի
                                    </div>
                                </div>
                                <div class="">
                                    <input type="text"  placeholder="PIN կոդը" class="form-control d-block">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Հաստատել</button>
                                <button type="button" class="btn btn-info waves-effect waves-light">Ստանալ PIN կոդը</button>
                                <button type="button" class="btn btn-success waves-effect waves-light">Պին կոդը ուղարկվել է Ձեր էլ․ փոստին</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0 text-center" id="myModalLabel">Կազմել Մրցույթի Հայտ</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-title mt-0 ">Հավելված 1</h5>
                                <div class="bg-light p-3 mt-1 mb-1">
                                    <div class="form-group row mb-0">
                                        <div class=" col-lg-8 col-md-12 d-flex justify-content-between align-items-center" >
                                            <label>Որ չափաբաժիններին եք ցանկանում մասնակցել</label>
                                            <input class="form-control" placeholder="" name="name" type="text" value="" style="width: 250px;">
                                            <button type="button" class="btn btn-primary">Պահպանել</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="mt-0 header-title">Իրական շահառուներ</h4>
                                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                    <thead>
                                                    <tr>
                                                        <th>Անունը Ազգանունը Հայրանունը</th>
                                                        <th>ՀՀ քաղաքացիների համար` նույնականացման քարտի կամ անձնագրի կամ ՀՀ օրենսդրությամբ նախատեսված անձը հաստատող փաստաթղթի տեսակը և համարը</th>
                                                        <th>Օտարերկրյա քաղաքացիների համար համապատասխան երկրի օրենսդրությամբ նախատեսված անձը հաստատող փաստաթղթի տեսակը և համարը</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <input class="form-control" placeholder="" name="name" type="text" value="">
                                                        </td>
                                                        <td>
                                                            <input class="form-control" placeholder="" name="name" type="text" value="">
                                                        </td>
                                                        <td>
                                                            <input class="form-control" placeholder="" name="name" type="text" value="">
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-danger btn-square btn-outline-dashed waves-effect waves-light modal03">
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <button type="button" class="btn btn-info btn-square btn-outline-dashed waves-effect waves-light modal03">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="mt-0 header-title">ԳՆԱՅԻՆ ԱՌԱՋԱՐԿ </h4>
                                                <h5 class="modal-title mt-0 ">Հավելված 1</h5>
                                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                    <thead>
                                                    <tr>
                                                        <th>A. Չ/հ</th>
                                                        <th>B. անվանումը</th>
                                                        <th>E. Արժեք</th>
                                                        <th>F. ԱԱՀ</th>
                                                        <th>G. Նշել ԱԱՀ</th>
                                                        <th>H. Ընդհանուր գինը</th>
                                                        <th>I.</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success">Հաստատել</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0" id="exampleModalLabel">333</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="bg-light p-3 mt-2 mb-2">
                                    <h4 class="mt-0 header-title">Դուք պետք է մուտքագրեք PIN կոդը</h4>
                                    <div class="highlighter-rouge" style="color: red">
                                        3 անգամ սխալ հավաքելու դեպքում էջը կարգելափակվի
                                    </div>
                                </div>
                                <div class="">
                                    <input type="text"  placeholder="PIN կոդը" class="form-control d-block">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Հաստատել</button>
                                <button type="button" class="btn btn-info waves-effect waves-light">Ստանալ PIN կոդը</button>
                                <button type="button" class="btn btn-success waves-effect waves-light">Պին կոդը ուղարկվել է Ձեր էլ․ փոստին</button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0" id="exampleModalLabel">ՄԻՋԱԶԳԱՅԻՆ ՏԵՆԴԵՐՆԵՐ</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table id="datatable" class="table table-bordered dt-responsive nowrap text-center" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>Անվանումը</th>
                                        <th>Ժամկետը սկիզբ/ավարտ</th>
                                        <th>Մրցույթի հրավեր</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                     <tr>
                                        <td>
                                            «Երևան, Վարշավա, Տիրանա մայրաքաղաքների
                                            համագործակցությունը վտանգավոր թափոնների կառավարման ընդհանուր մարտահրավերների շուրջ»
                                            ծրագրի ելակետային ուսումնասիրության մրցույթի արդյունքներ
                                        </td>
                                        <td>11.11.2020 - 00.00.0000 00:00:00</td>
                                        <td>
                                            <button type="button" class="btn btn-primary mb-2" >
                                                Բեռնել
                                            </button>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade bs-example-modal-lg-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0" id="exampleModalLabel">ՄԻՋԱԶԳԱՅԻՆ ՏԵՆԴԵՐՆԵՐ</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table id="datatable" class="table table-bordered dt-responsive nowrap text-center" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>Անվանումը</th>
                                        <th>Ժամկետը սկիզբ/ավարտ</th>
                                        <th>Մրցույթի հրավեր</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            «Երևան, Վարշավա, Տիրանա մայրաքաղաքների համագործակցությունը վտանգավոր թափոնների
                                            կառավարման ընդհանուր մարտահրավերների շուրջ» ծրագրի ելակետային ուսումնասիրության մրցույթ
                                        </td>
                                        <td>13.10.2020 - 24.10.2020 18:00:00</td>
                                        <td>
                                            <button type="button" class="btn btn-primary mb-2" >
                                                Բեռնել
                                            </button>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer text-center text-sm-left">&copy; 2019 - 2020 Metrica
            <span class="text-muted d-none d-sm-inline-block float-right">Crafted with
            <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>
        </footer>






    </div>
</div>
<!-- end page-wrapper -->




<!-- jQuery  -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jquery-ui.min.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/metismenu.min.js"></script>
<script src="../assets/js/waves.js"></script>
<script src="../assets/js/feather.min.js"></script>
<script src="../assets/js/jquery.slimscroll.min.js"></script>
<script src="../plugins/apexcharts/apexcharts.min.js"></script>

<!-- App js -->
<script src="../assets/js/jquery.core.js"></script>
<script src="../assets/js/app.js"></script>

</body>

</html>