<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ուղարկել նամակ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">
    <!-- App css -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/metisMenu.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css">
    <link href="../interference/style.css" rel="stylesheet" type="text/css">
    <link href="../assets" rel="stylesheet" type="text/css">

</head>
<body><!-- leftbar-tab-menu -->
<div class="leftbar-tab-menu">
    <div class="main-icon-menu">
        <a href="../crm/crm-index.html" class="logo logo-metrica d-block text-center">
            <span><img src="../assets/images/logo-sm.png" alt="logo-small" class="logo-sm"></span></a>
        <nav class="nav">
            <a href="#MetricaUikit" class="nav-link" data-toggle="tooltip-custom" data-placement="right"
               data-trigger="hover" title="" data-original-title="Ուղարկել նամակ">
                <i class="fas fa fa-clipboard far fa-comment-alt"></i>
            </a>
            <!--end MetricaUikit-->
        </nav><!--end nav-->
        <div class="pro-metrica-end"><a href="" class="help" data-toggle="tooltip-custom" data-placement="right"
                                        data-trigger="hover" title="" data-original-title="Chat"><i
                data-feather="message-circle" class="align-self-center menu-icon icon-md icon-dual mb-4"></i> </a><a
                href="" class="profile"><img src="../assets/images/users/user-4.jpg" alt="profile-user"
                                             class="rounded-circle thumb-sm"></a></div>
    </div><!--end main-icon-menu-->
    <div class="main-menu-inner"><!-- LOGO -->
        <div class="topbar-left"><a href="../crm/crm-index.html" class="logo"><span><img
                src="../assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark"> <img
                src="../assets/images/logo.png" alt="logo-large" class="logo-lg logo-light"></span></a></div>
        <!--end logo-->
        <div class="menu-body slimscroll">

            <div id="MetricaAnalytics" class="main-icon-menu-pane mm-active active">
                <div class="title-box active"><h6 class="menu-title"> Ուղարկել նամակ</h6></div>
            </div>


            <div id="MetricaPages" class="main-icon-menu-pane">
                <div class="title-box"><h6 class="menu-title">Pages</h6></div>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-profile.html">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-tour.html">Tour</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-timeline.html">Timeline</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-treeview.html">Treeview</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-starter.html">Starter Page</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-pricing.html">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-blogs.html">Blogs</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-faq.html">FAQs</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/pages-gallery.html">Gallery</a></li>
                </ul>
            </div><!-- end Pages -->
            <div id="MetricaAuthentication" class="main-icon-menu-pane">
                <div class="title-box"><h6 class="menu-title">Authentication</h6></div>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-login.html">Log in</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-login-alt.html">Log in alt</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-register.html">Register</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-register-alt.html">Register-alt</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                                            href="../authentication/auth-recover-pw.html">Re-Password</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-recover-pw-alt.html">Re-Password-alt</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-lock-screen.html">Lock
                        Screen</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-lock-screen-alt.html">Lock
                        Screen</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-404.html">Error 404</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-404-alt.html">Error
                        404-alt</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-500.html">Error 500</a></li>
                    <li class="nav-item"><a class="nav-link" href="../authentication/auth-500-alt.html">Error
                        500-alt</a></li>
                </ul>
            </div><!-- end Authentication-->
        </div><!--end menu-body-->
    </div><!-- end main-menu-inner-->
</div>
<!-- end leftbar-tab-menu--><!-- Top Bar Start -->

<div class="page-wrapper"><!-- Page Content-->
    <div class="page-content-tab">
        <div class="container-fluid"><!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);"></a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);"> Itender </a></li>
                                <li class="breadcrumb-item active"> Ցանկ</li>
                            </ol>
                        </div>
                        <h4 class="page-title"> Կատեգորիա</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->


            <div class="row">
                <div class="col-7">
                    <div class="col-sm-10 mb-4">
                        <select class="form-control">
                            <option>Ընտրել կատեգորիան</option>
                            <option>կատեգորիան 1</option>
                            <option>կատեգորիան 2</option>
                            <option>կատեգորիան 3</option>
                            <option>կատեգորիան 4</option>
                            <option>կատեգորիան 5</option>
                            <option>կատեգորիան 6</option>
                        </select>
                    </div>
                    <div class="col-lg-10">
                        <label> Վերնագիր</label>
                        <textarea id="txtAddress1Billing1" name="txtAddress1Billing" rows="1" class="form-control"
                                  placeholder=""></textarea>
                    </div>
                    <div class="col-lg-10  mt-4">
                        <label> Տեքստ</label>
                        <textarea id="txtAddress1Billing2" name="txtAddress1Billing" rows="6" class="form-control"
                                  placeholder="Մասնակիցների Էլ-փոստերը անջատել ստորակետներով"></textarea>
                    </div>
                    <div class="col-lg-10 mt-4">
                        <label> Այլ ստացողներ</label>
                        <textarea id="txtAddress1Billing3" name="txtAddress1Billing" rows="1" class="form-control"
                                  placeholder=""></textarea>
                    </div>
                    <div class="col-sm-10 mt-4">
                        <button class="btn btn-gradient-primary" type="submit">Ուղարկել</button>
                    </div>
                </div>

            </div>

            <!-- end col -->
        </div>


        <div class="modal modal-rightbar fade" tabindex="-1" role="dialog" aria-labelledby="MetricaRightbar"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header"><h5 class="modal-title mt-0" id="MetricaRightbar">Appearance</h5>
                        <button type="button" class="btn btn-sm btn-soft-primary btn-circle btn-square"
                                data-dismiss="modal" aria-hidden="true"><i class="mdi mdi-close"></i></button>
                    </div>
                    <div class="modal-body"><!-- Nav tabs -->
                        <ul class="nav nav-pills nav-justified mt-2 mb-4" role="tablist">
                            <li class="nav-item waves-effect waves-light"><a class="nav-link active" data-toggle="tab"
                                                                             href="#ActivityTab" role="tab">Activity</a>
                            </li>
                            <li class="nav-item waves-effect waves-light"><a class="nav-link" data-toggle="tab"
                                                                             href="#TasksTab" role="tab">Tasks</a></li>
                            <li class="nav-item waves-effect waves-light"><a class="nav-link" data-toggle="tab"
                                                                             href="#SettingsTab" role="tab">Settings</a>
                            </li>
                        </ul><!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="ActivityTab" role="tabpanel">
                                <div class="bg-light mx-n3"><img src="../assets/images/small/img-1.gif" alt=""
                                                                 class="d-block mx-auto my-4" height="180"></div>
                                <div class="slimscroll scroll-rightbar">
                                    <div class="activity">
                                        <div class="activity-info">
                                            <div class="icon-info-activity"><i
                                                    class="mdi mdi-checkbox-marked-circle-outline bg-soft-success"></i>
                                            </div>
                                            <div class="activity-info-text mb-2">
                                                <div class="mb-1"><small class="text-muted d-block mb-1">10 Min
                                                    ago</small> <a href="#" class="m-0 w-75">Task finished</a></div>
                                                <p class="text-muted mb-2 text-truncate">There are many variations of
                                                    passages.</p></div>
                                        </div>
                                        <div class="activity-info">
                                            <div class="icon-info-activity"><i
                                                    class="mdi mdi-timer-off bg-soft-pink"></i></div>
                                            <div class="activity-info-text mb-2">
                                                <div class="mb-1"><small class="text-muted d-block mb-1">50 Min
                                                    ago</small> <a href="#" class="m-0 w-75">Task Overdue</a></div>
                                                <p class="text-muted mb-2 text-truncate">There are many variations of
                                                    passages.</p><span class="badge badge-soft-secondary">Design</span>
                                                <span class="badge badge-soft-secondary">HTML</span></div>
                                        </div>
                                        <div class="activity-info">
                                            <div class="icon-info-activity"><i
                                                    class="mdi mdi-alert-decagram bg-soft-purple"></i></div>
                                            <div class="activity-info-text mb-2">
                                                <div class="mb-1"><small class="text-muted d-block mb-1">10 hours
                                                    ago</small> <a href="#" class="m-0 w-75">New Task</a></div>
                                                <p class="text-muted mb-2 text-truncate">There are many variations of
                                                    passages.</p></div>
                                        </div>
                                        <div class="activity-info">
                                            <div class="icon-info-activity"><i
                                                    class="mdi mdi-clipboard-alert bg-soft-warning"></i></div>
                                            <div class="activity-info-text mb-2">
                                                <div class="mb-1"><small
                                                        class="text-muted d-block mb-1">yesterday</small> <a href="#"
                                                                                                             class="m-0 w-75">New
                                                    Comment</a></div>
                                                <p class="text-muted mb-2 text-truncate">There are many variations of
                                                    passages.</p></div>
                                        </div>
                                        <div class="activity-info">
                                            <div class="icon-info-activity"><i
                                                    class="mdi mdi-clipboard-alert bg-soft-secondary"></i></div>
                                            <div class="activity-info-text mb-2">
                                                <div class="mb-1"><small class="text-muted d-block mb-1">01 feb
                                                    2020</small> <a href="#" class="m-0 w-75">New Lead Meting</a></div>
                                                <p class="text-muted mb-2 text-truncate">There are many variations of
                                                    passages.</p></div>
                                        </div>
                                        <div class="activity-info">
                                            <div class="icon-info-activity"><i
                                                    class="mdi mdi-checkbox-marked-circle-outline bg-soft-success"></i>
                                            </div>
                                            <div class="activity-info-text mb-2">
                                                <div class="mb-1"><small class="text-muted d-block mb-1">26 jan
                                                    2020</small> <a href="#" class="m-0 w-75">Task finished</a></div>
                                                <p class="text-muted mb-2 text-truncate">There are many variations of
                                                    passages.</p></div>
                                        </div>
                                    </div><!--end activity--></div><!--end activity-scroll--></div><!--end tab-pane-->
                            <div class="tab-pane" id="TasksTab" role="tabpanel">
                                <div class="m-0">
                                    <div id="rightbar_chart" class="apex-charts"></div>
                                </div>
                                <div class="text-center mt-n2 mb-2">
                                    <button type="button" class="btn btn-soft-primary">Create Project</button>
                                    <button type="button" class="btn btn-soft-primary">Create Task</button>
                                </div>
                                <div class="slimscroll scroll-rightbar">
                                    <div class="p-2">
                                        <div class="media mb-3"><img src="../assets/images/widgets/project3.jpg" alt=""
                                                                     class="thumb-lg rounded-circle">
                                            <div class="media-body align-self-center text-truncate ml-3"><p
                                                    class="text-success font-weight-semibold mb-0 font-14">Project</p>
                                                <h4 class="mt-0 mb-0 font-weight-semibold text-dark font-18">Payment
                                                    App</h4></div><!--end media-body--></div>
                                        <span><b>Deadline:</b> 02 June 2020</span> <a href="javascript: void(0);"
                                                                                      class="d-block mt-3"><p
                                            class="text-muted mb-0">Complete Tasks<span class="float-right">75%</span>
                                    </p>
                                        <div class="progress mt-2" style="height: 4px;">
                                            <div class="progress-bar bg-secondary" role="progressbar" style="width: 75%"
                                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </a></div>
                                    <hr class="hr-dashed">
                                </div>
                            </div><!--end tab-pane-->
                            <div class="tab-pane" id="SettingsTab" role="tabpanel">
                                <div class="p-1 bg-light mx-n3"><h6 class="px-3">Account Settings</h6></div>
                                <div class="p-2 text-left mt-3">
                                    <div class="custom-control custom-switch switch-primary mb-3"><input type="checkbox"
                                                                                                         class="custom-control-input"
                                                                                                         id="settings-switch1"
                                                                                                         checked="">
                                        <label class="custom-control-label" for="settings-switch1">Auto updates</label>
                                    </div>
                                    <div class="custom-control custom-switch switch-primary mb-3"><input type="checkbox"
                                                                                                         class="custom-control-input"
                                                                                                         id="settings-switch2">
                                        <label class="custom-control-label" for="settings-switch2">Location
                                            Permission</label></div>
                                    <div class="custom-control custom-switch switch-primary mb-3"><input type="checkbox"
                                                                                                         class="custom-control-input"
                                                                                                         id="settings-switch3"
                                                                                                         checked="">
                                        <label class="custom-control-label" for="settings-switch3">Show offline
                                            Contacts</label></div>
                                </div>
                                <div class="p-1 bg-light mx-n3"><h6 class="px-3">General Settings</h6></div>
                                <div class="p-2 text-left mt-3">
                                    <div class="custom-control custom-switch switch-primary mb-3"><input type="checkbox"
                                                                                                         class="custom-control-input"
                                                                                                         id="settings-switch4"
                                                                                                         checked="">
                                        <label class="custom-control-label" for="settings-switch4">Show me
                                            Online</label></div>
                                    <div class="custom-control custom-switch switch-primary mb-3"><input type="checkbox"
                                                                                                         class="custom-control-input"
                                                                                                         id="settings-switch5">
                                        <label class="custom-control-label" for="settings-switch5">Status visible to
                                            all</label></div>
                                    <div class="custom-control custom-switch switch-primary mb-3"><input type="checkbox"
                                                                                                         class="custom-control-input"
                                                                                                         id="settings-switch6"
                                                                                                         checked="">
                                        <label class="custom-control-label" for="settings-switch6">Notifications
                                            Popup</label></div>
                                </div>
                            </div><!--end tab-pane--></div><!--end tab-content--></div><!--end modal-body--></div>
                <!-- /.modal-content --></div><!-- /.modal-dialog --></div><!-- /.modal -->
        <footer class="footer text-center text-sm-left">&copy; 2019 - 2020 Metrica <span
                class="text-muted d-none d-sm-inline-block float-right">Crafted with <i
                class="mdi mdi-heart text-danger"></i> by Mannatthemes</span></footer><!--end footer--></div>
    <!-- end page content --></div><!-- end page-wrapper --><!-- jQuery  -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jquery-ui.min.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/metismenu.min.js"></script>
<script src="../assets/js/waves.js"></script>
<script src="../assets/js/feather.min.js"></script>
<script src="../assets/js/jquery.slimscroll.min.js"></script>
<script src="../plugins/apexcharts/apexcharts.min.js"></script><!-- Parsley js -->
<script src="../plugins/parsleyjs/parsley.min.js"></script>
<script src="../assets/pages/jquery.validation.init.js"></script><!-- App js -->
<script src="../assets/js/jquery.core.js"></script>
<script src="../assets/js/app.js"></script>
<script>
    $("#youtube_link").on("change", function () {
        $("#iframeYoutube").attr("src", $(this).val());
    });

    $("#youtube_link").change();
</script>
</div>
</body>
</html>
