<div class="tab-pane fade" id="settings_detail">
    <div class="row">
        <div class="col-lg-8 col-md-10">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Անհրաժեշտ Է լրացնել *-ով նշված դաշտերը</h4>
                    <p class="text-muted mb-3"></p>
                    <form class="form-parsley" action="#" novalidate="">

                        <div class="form-group">
                            <label>Էլ. փոստ *</label>
                            <div>
                                <input type="email" class="form-control" required="" parsley-type="email" placeholder="Էլ. փոստ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Հեռախոս *</label>
                            <input type="tel" class="form-control" required="" placeholder="077 22 22 77">
                        </div>
                        <!--end form-group-->
                        <div class="form-group">
                            <label>Կազմակերպության անվանում *</label>
                            <input placeholder="Կազմակերպության անվանումը" type="text" name="form-control"  class="form-control" value="" required>
                            <select name="company_type" class="form-control mt-2">
                                <option selected value="Ընտրել">Ընտրել</option>
                                <option  value="">Այլ</option>
                                <option   value="ՊՈԱԿ">ՊՈԱԿ</option>
                                <option   value="ՍՊԸ">ՍՊԸ</option>
                                <option   value="ՓԲԸ">ՓԲԸ</option>
                                <option   value="ՀՈԱԿ">ՀՈԱԿ</option>
                                <option   value="Հիմնադրամ">Հիմնադրամ</option>
                                <option   value="Համայնք">Համայնք</option>
                                <option   value="քաղաքապետարան">քաղաքապետարան</option>
                                <option   value="Հ/Կ">Հ/Կ</option>
                            </select>
                        </div>
                        <!--end form-group-->

                        <!--end form-group-->
                        <div class="form-group">
                            <label>Կազմակերպության անվանումը ռուսերեն*</label>
                            <input placeholder="Название компании на русском языке" type="text" name="company_name_ru" class="form-control" value="" required>
                            <select name="company_type_ru" class="form-control mt-2">
                                <option selected value="Выбрать">Выбрать</option>
                                <option   value="">Другое</option>
                                <option   value="ГНКО">ГНКО</option>
                                <option   value="ООО">ООО</option>
                                <option   value="ЗАО">ЗАО</option>
                                <option   value="ОНКО">ОНКО</option>
                                <option   value="фонд">фонд</option>
                                <option   value="община">община</option>
                                <option   value="муниципалитет">муниципалитет</option>
                                <option   value="Հ/Կ">Հ/Կ</option>
                            </select>
                        </div>
                        <!--end form-group-->
                        <div class="form-group">
                            <label>Գործունեության հասցե *</label>
                            <div class="input-user">
                                <input placeholder="Մարզ" type="text" name="company_region" class="user_name_short" value="">
                                <input placeholder="Քազաք / Գյուղ" type="text" name="company_city" class="user_name_short" value="" required>
                                <input placeholder="Հասցե" type="text" name="company_address" class="user_name_short" value="" required>
                            </div>

                        </div>

                        <div class="form-group">
                            <label>Գործունեության հասցե ռուսերեն*</label>
                            <div class="input-user">
                                <input placeholder="Область" type="text" name="company_region" class="user_name_short" value="">
                                <input placeholder="Город / Село" type="text" name="company_city" class="user_name_short" value="" required>
                                <input placeholder="Адрес" type="text" name="company_address" class="user_name_short" value="" required>
                            </div>

                        </div>

                        <div class="form-group">
                            <label>Բանկը / Գանձապետարան *</label>
                            <div>
                                <input data-parsley-type="number" type="text" class="form-control" required="" placeholder="Բանկը / Գանձապետարան">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Բանկը / Գանձապետարան ռուսերեն*</label>
                            <input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Банк / Казначейство на русском языке">
                        </div>
                        <div class="form-group">
                            <label>Հաշվեհամար *</label>
                            <input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Հաշվեհամար">
                        </div>

                        <div class="form-group">
                            <label>ՀՎՀՀ *</label>
                            <input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="ՀՎՀՀ">
                        </div>

                        <div class="form-group">
                            <label>Տնօրենի Անուն Ազգանուն *</label>
                            <input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Անուն Ազգանուն">
                        </div>

                        <div class="form-group">
                            <label>Տնօրենի Անուն Ազգանուն ռուսերեն*</label>
                            <input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Имя Фамилия на русском языке">
                        </div>
                        <div class="form-group">
                            <label>Գնման ձևը *</label>
                            <select name="gnman_dzev" class="form-control">
                                <option selected value="1">Ընտրել</option>
                                <option  value="2">Թղթային</option>
                                <option  value="3">Էլեկտրոնային</option>
                            </select>
                        </div>

                        <div class="form-group mb-0">
                            <button type="submit" class="btn btn-gradient-primary waves-effect waves-light">Պահպանել</button>
                        </div>
                        <!--end form-group-->
                    </form><!--end form-->
                </div><!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <div class="col-lg-4 col-md-2">

            <div class="card">
                <div class="card-body"><h4 class="mt-0 header-title">Ավելացնել լուսանկար</h4>
                    <div class="dropify-wrapper has-preview">
                        <div class="dropify-message">
                            <p></p>
                            <p class="dropify-error"></p>
                        </div>
                    </div>
                    <input type="file" id="input-file-now-custom-2 " class="dropify" data-height="500" accept="image/jpeg,image/png,image/gif">
                    <div id="preview"></div>
                </div>

            </div>

        </div>

    </div>
    <!--end row-->
</div>
<button type="reset" class="btn btn-gradient-danger waves-effect m-l-5">
    <a href="procurement-plan.html" class="a-plan">Հաջորդ</a></button>