<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Գնման գործընթացներ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">
    <!-- App css -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/metisMenu.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css">
    <link href="../interference/style.css" rel="stylesheet" type="text/css">
    <link href="../assets" rel="stylesheet" type="text/css">

</head>
<body>


<div class="leftbar-tab-menu mm-active active">
    <div class="main-icon-menu in mm-show">
        <a href="../crm/crm-index.html" class="logo logo-metrica d-block text-center"><span>
            <img src="../assets/images/logo-sm.png" alt="logo-small" class="logo-sm"></span>
        </a>
        <nav class="nav">
            <a href="#MetricaDashboard" class="nav-link " data-toggle="tooltip-custom" data-placement="right"
               data-trigger="hover" title="" data-original-title="Գլխավոր">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-monitor align-self-center menu-icon icon-dual">
                    <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
                    <line x1="8" y1="21" x2="16" y2="21"></line>
                    <line x1="12" y1="17" x2="12" y2="21"></line>
                </svg>
            </a>
            <a href="#MetricaApps" class="nav-link " data-toggle="tooltip-custom" data-placement="right"
               data-trigger="hover" title="" data-original-title="Պլանավորում">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-grid align-self-center menu-icon icon-dual">
                    <rect x="3" y="3" width="7" height="7"></rect>
                    <rect x="14" y="3" width="7" height="7"></rect>
                    <rect x="14" y="14" width="7" height="7"></rect>
                    <rect x="3" y="14" width="7" height="7"></rect>
                </svg>
            </a>
            <!--end MetricaApps-->
            <a href="#MetricaUikit" class="nav-link active" data-toggle="tooltip-custom" data-placement="right"
               data-trigger="hover" title="" data-original-title="Կազմակերպում">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-package align-self-center menu-icon icon-dual">
                    <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
                    <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                </svg>
            </a>
            <!--end MetricaUikit-->
            <a href="#MetricaPages" class="nav-link" data-toggle="tooltip-custom" data-placement="right"
               data-trigger="hover" title="" data-original-title="Պայմանագրի կառավարում">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-copy align-self-center menu-icon icon-dual">
                    <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                </svg>
            </a>

            <a href="#MetricaHelp" class="nav-link" data-toggle="tooltip-custom" data-placement="right"
               data-trigger="hover" title="" data-original-title="Լայվ օգնություն">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-copy align-self-center menu-icon icon-dual">
                    <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                </svg>
            </a>

        </nav><!--end nav-->

    </div><!--end main-icon-menu-->
    <div class="main-menu-inner active"><!-- LOGO -->
        <div class="topbar-left">
            <a href="../crm/crm-index.html" class="logo">
                <span>
                <img src="../assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark">
                <img src="../assets/images/logo.png" alt="logo-large" class="logo-lg logo-light">
                </span>
            </a>
        </div>
        <!--end logo-->
        <div class="slimScrollDiv mm-active active"
             style="position: relative; overflow: hidden; width: auto; height: 937px;">

            <div class="menu-body slimscroll mm-show" style="overflow: hidden; width: auto; height: 937px;">

                <div id="MetricaDashboard" class="main-icon-menu-pane">
                    <div class="title-box "><h6 class="menu-title">Գլխավոր</h6></div>
                </div>

                <div id="MetricaApps" class="main-icon-menu-pane ">
                    <div class="title-box  "><h6 class="menu-title">Պլանավորում</h6></div>
                    <ul class="nav metismenu in mm-show">
                        <li class="nav-item">
                            <a class="nav-link" href="procurement-plan.html"><span class="w-100"> Գնումների Պլան</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="responsible-unit.html">Պատասխանատու
                            ստորաբաժանում</a></li>
                    </ul>
                </div>

                <div id="MetricaUikit" class="main-icon-menu-pane mm-active active">
                    <div class="title-box active">
                        <h6 class="menu-title">Կազմակերպում</h6>
                    </div>
                    <ul class="nav metismenu">
                        <li class="nav-item">
                            <a class="nav-link active" href="#"><span class="w-100">Պետական մեկ անձ</span>
                                <span class="menu-arrow"><i class="dripicons-chevron-down"></i></span>
                            </a>
                            <ul class="nav-second-level mm-collapse" aria-expanded="false">
                                <li><a href="purchasing-processes.html"> Ընթացիկ գնման գործընթացներ</a></li>
                                <li><a href="#">Կազմակերպել գնման գործընթաց</a></li>
                            </ul>
                        </li><!--end nav-item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="w-100">Մրցակցային</span>
                                <span class="menu-arrow"><i class="dripicons-chevron-down"></i></span>
                            </a>
                            <ul class="nav-second-level mm-collapse" aria-expanded="false">
                                <li><a href="competitive.html">Ընթացիկ գնման գործընթացներ</a></li>
                                <li><a href="#">Կազմակերպել գնման գործընթաց</a></li>
                            </ul>
                        </li>


                    </ul>

                </div>
                <div id="MetricaPages" class="main-icon-menu-pane">
                    <div class="title-box"><h6 class="menu-title">Պայմանագրի կառավարում</h6></div>
                </div>
                <div id="MetricaHelp" class="main-icon-menu-pane">
                    <div class="title-box"><h6 class="menu-title">Լայվ օգնություն</h6></div>
                </div>
            </div>
            <div class="slimScrollBar"
                 style="background: rgba(162, 177, 208, 0.13); width: 7px; position: absolute; top: 0px; opacity: 1; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 869px;"></div>
            <div class="slimScrollRail"
                 style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
        <!--end menu-body-->
    </div>
    <!-- end main-menu-inner-->
</div>

<div class="topbar"><!-- Navbar -->
    <nav class="navbar-custom">
        <ul class="list-unstyled topbar-nav float-right mb-0">
            <li class="hidden-sm">
                <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown"
                   href="javascript: void(0);" role="button" aria-haspopup="false" aria-expanded="false">English
                    <img src="../assets/images/flags/us_flag.jpg" class="ml-2" height="16" alt="">
                    <i class="dripicons-chevron-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript: void(0);"><span>German </span>
                        <img src="../assets/images/flags/germany_flag.jpg" alt="" class="ml-2 float-right" height="14">
                    </a>
                    <a class="dropdown-item" href="javascript: void(0);"><span>Italian </span>
                        <img src="../assets/images/flags/italy_flag.jpg" alt="" class="ml-2 float-right" height="14">
                    </a>
                    <a class="dropdown-item" href="javascript: void(0);"><span>French </span>
                        <img src="../assets/images/flags/french_flag.jpg" alt="" class="ml-2 float-right" height="14">
                    </a>
                    <a class="dropdown-item" href="javascript: void(0);"><span>Spanish </span>
                        <img src="../assets/images/flags/spain_flag.jpg" alt="" class="ml-2 float-right" height="14">
                    </a>
                    <a class="dropdown-item" href="javascript: void(0);"><span>Russian </span>
                        <img src="../assets/images/flags/russia_flag.jpg" alt="" class="ml-2 float-right" height="14">
                    </a>
                </div>
            </li>
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#"
                   role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="dripicons-bell"></i>
                    <span class="badge badge-danger badge-pill noti-icon-badge">2</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-lg pt-0">
                    <h6 class="dropdown-item-text font-15 m-0 py-3 bg-primary text-white d-flex justify-content-between align-items-center">
                        Ծանուցումներ
                        <span class="badge badge-light badge-pill">2</span>
                    </h6>
                    <div class="slimScrollDiv"
                         style="position: relative; overflow: hidden; width: auto; height: 937px;">
                        <div class="slimscroll notification-list" style="overflow: hidden; width: auto; height: 937px;">
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-right text-muted pl-2">2 min ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-primary"><i class="la la-cart-arrow-down text-white"></i>
                                    </div>
                                    <div class="media-body align-self-center ml-2 text-truncate">
                                        <h6 class="my-0 font-weight-normal text-dark">Your order is placed</h6>
                                        <small class="text-muted mb-0">Dummy text of the printing and industry.</small>
                                    </div>
                                    <!--end media-body-->
                                </div><!--end media-->
                            </a>
                            <!--end-item-->
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-right text-muted pl-2">10 min ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-success"><i class="la la-group text-white"></i></div>
                                    <div class="media-body align-self-center ml-2 text-truncate">
                                        <h6 class="my-0 font-weight-normal text-dark">Meeting with designers</h6>
                                        <small class="text-muted mb-0">It is a long established fact that a
                                            reader.</small>
                                    </div>
                                    <!--end media-body-->
                                </div>
                                <!--end media-->
                            </a>
                            <!--end-item--><!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-right text-muted pl-2">40 min ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-pink"><i class="la la-list-alt text-white"></i></div>
                                    <div class="media-body align-self-center ml-2 text-truncate">
                                        <h6 class="my-0 font-weight-normal text-dark">UX 3 Task complete.</h6>
                                        <small class="text-muted mb-0">Dummy text of the printing.</small>
                                    </div>
                                    <!--end media-body-->
                                </div>
                                <!--end media-->
                            </a>
                            <!--end-item-->
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-right text-muted pl-2">1 hr ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-warning"><i class="la la-truck text-white"></i></div>
                                    <div class="media-body align-self-center ml-2 text-truncate">
                                        <h6 class="my-0 font-weight-normal text-dark">Your order is placed</h6>
                                        <small class="text-muted mb-0">It is a long established fact that a
                                            reader.</small>
                                    </div>
                                    <!--end media-body-->
                                </div>
                                <!--end media-->
                            </a>
                            <!--end-item-->
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-right text-muted pl-2">2 hrs ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-info"><i class="la la-check-circle text-white"></i></div>
                                    <div class="media-body align-self-center ml-2 text-truncate">
                                        <h6 class="my-0 font-weight-normal text-dark">Payment Successfull</h6>
                                        <small class="text-muted mb-0">Dummy text of the printing.</small>
                                    </div>
                                    <!--end media-body-->
                                </div>
                                <!--end media-->
                            </a>
                            <!--end-item-->
                        </div>
                        <div class="slimScrollBar"
                             style="background: rgba(162, 177, 208, 0.13); width: 7px; position: absolute; top: 0px; opacity: 1; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div>
                        <div class="slimScrollRail"
                             style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                    </div>
                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary">View all <i
                            class="fi-arrow-right"></i></a>
                </div>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#"
                   role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="../assets/images/users/user-4.jpg" alt="profile-user" class="rounded-circle">
                    <span class="ml-1 nav-user-name hidden-sm">Amelia <i class="dripicons-chevron-down"></i></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="state-user.html">
                        <i class="dripicons-user text-muted mr-2"></i> Profile</a>
                    <a class="dropdown-item" href="#">
                        <i class="dripicons-wallet text-muted mr-2"></i> My Wallet</a>
                    <a class="dropdown-item" id="settings_detail_tab" href="#settings_detail" data-toggle="pill">
                        <i class="dripicons-gear text-muted mr-2"></i> Անձնական տվյալներ</a>
                    <a class="dropdown-item" href="#"><i class="dripicons-lock text-muted mr-2"></i> Lock screen</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
                </div>
            </li>
            <li class="mr-2">
                <a href="#" class="nav-link" data-toggle="modal" data-animation="fade" data-target=".modal-rightbar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-align-right align-self-center">
                        <line x1="21" y1="10" x2="7" y2="10"></line>
                        <line x1="21" y1="6" x2="3" y2="6"></line>
                        <line x1="21" y1="14" x2="3" y2="14"></line>
                        <line x1="21" y1="18" x2="7" y2="18"></line>
                    </svg>
                </a></li>
        </ul><!--end topbar-nav-->
        <ul class="list-unstyled topbar-nav mb-0">
            <li>
                <a href="../analytics/analytics-index.html">
                    <span class="responsive-logo">
                    <img src="../assets/images/logo-sm.png" alt="logo-small" class="logo-sm align-self-center"
                         height="34">
                    </span>
                </a>
            </li>
            <li>
                <button class="button-menu-mobile nav-link waves-effect waves-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-menu align-self-center">
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                </button>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#"
                   role="button" aria-haspopup="false" aria-expanded="false">
                    <span class="ml-1 p-2 bg-soft-classic nav-user-name hidden-sm rounded">System <i
                            class="dripicons-chevron-down"></i></span>
                </a>
                <div class="dropdown-menu dropdown-xl dropdown-menu-left p-0">
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-6">
                            <div class="text-center system-text"><h4 class="text-white">The Poworfull Dashboard</h4>
                                <p class="text-white">See all the pages Metrica.</p>
                                <a href="https://mannatthemes.com/metrica/" class="btn btn-sm btn-pink mt-2">See
                                    Dashboard</a>
                            </div>
                            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../assets/images/dashboard/dash-1.png" class="d-block img-fluid"
                                             alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/images/dashboard/dash-4.png" class="d-block img-fluid"
                                             alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/images/dashboard/dash-2.png" class="d-block img-fluid"
                                             alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/images/dashboard/dash-3.png" class="d-block img-fluid"
                                             alt="...">
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-12 col-lg-6">
                            <div class="divider-custom mb-0">
                                <div class="divider-text bg-light">All Dashboard</div>
                                <div class="p-4">
                                    <div class="row">
                                        <div class="col-6">
                                            <a class="dropdown-item mb-2" href="../analytics/analytics-index.html">Analytics</a>
                                            <a class="dropdown-item mb-2" href="../crypto/crypto-index.html">Crypto</a>
                                            <a class="dropdown-item mb-2" href="../crm/crm-index.html">CRM</a>
                                            <a class="dropdown-item" href="../projects/projects-index.html">Project</a>
                                        </div>
                                        <div class="col-6">
                                            <a class="dropdown-item mb-2" href="../ecommerce/ecommerce-index.html">Ecommerce</a>
                                            <a class="dropdown-item mb-2" href="../helpdesk/helpdesk-index.html">Helpdesk</a>
                                            <a class="dropdown-item" href="../hospital/hospital-index.html">Hospital</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                </div>
            </li>
            <li class="hide-phone app-search">
                <form role="search" class="">
                    <input type="text" id="AllCompo" placeholder="Search..." class="form-control ui-autocomplete-input"
                           autocomplete="off">
                    <a href=""><i class="fas fa-search"></i></a>
                </form>
            </li>
        </ul>
    </nav><!-- end navbar--></div>

<div class="page-wrapper">

    <div class="page-content-tab">

        <div class="container-fluid">
            <div class="row">

            </div>
        </div>

    </div>

</div>









<!-- jQuery  -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jquery-ui.min.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/metismenu.min.js"></script>
<script src="../assets/js/waves.js"></script>
<script src="../assets/js/feather.min.js"></script>
<script src="../assets/js/jquery.slimscroll.min.js"></script>
<script src="../plugins/apexcharts/apexcharts.min.js"></script>

<!-- App js -->
<script src="../assets/js/jquery.core.js"></script>
<script src="../assets/js/app.js"></script>
</body>
</html>


<button class="class-btn" value="Chess Class">More details</button>





<div>
    <iframe src="https://www.youtube.com/embed/k__rkv9XW1w" allowfullscreen="" width="460"
            height="230" frameborder="0"></iframe>
    <a class="btn btn-sucess" href="/bibik-jurij.html" target="_blank" title="Yuri Bibik School">More details&nbsp;</a></div>
</td>
<td style="height:187px;">&nbsp;</td>
<td style="height:187px;">
    <div>
        <iframe src="https://www.youtube.com/embed/xOfWq-V5Drs" allowfullscreen="" width="460" height="230" frameborder="0"></iframe>
        <a class="btn btn-primary" href="/aleksej-dreev.html" target="_blank" title="Alexey Dreev School">More details</a></div>
</td>
</tr>
</tbody>







































<!--<div>-->
<!--    <iframe src="https://www.youtube.com/embed/k__rkv9XW1w" width="460" height="230" frameborder="0" allowfullscreen="">-->

<!--    </iframe> <a href="/bibik-jurij.html" target="_blank" title="Yuri Bibik School">&nbsp;More details</a>-->
<!--</div>-->

<!--<iframe width="1280" height="720" src="https://www.youtube.com/embed/rFaAQUlq7zg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--        allowfullscreen></iframe>-->
<!--<iframe src="https://vk.com/video_ext.php?oid=480216009&amp;id=456239582&amp;hash=e668c9183f0c43e5"-->
<!--        width="460" height="230" frameborder="0" allowfullscreen=""></iframe>-->



















<iframe src="https://www.youtube.com/embed/xOfWq-V5Drs" width="460" height="230" frameborder="0" allowfullscreen=""></iframe>


<div style="text-align:justify;">Page 2. <a href="/chess_schools_and_masters_page_1.html" target="_blank">Back to the page 1</a>.</div>
<div class="project-chess">
    <div style="text-align:justify;">You can become a student of one or more professional chess schools,&nbsp;</div>
    <div style="text-align:justify;">participating in our project "Chess Collider":</div></div>
<div class="number-page">
    <div class="number-page-1 num-01"><a href="/chess_schools_and_masters_page_1.html" target="_blank">1</a></div>
    <div class="number-page-1 num-02"><a href="#">...</a></div>
    <div class="number-page-1 num-03"><a href="/chess_schools_and_masters_page_2.html" target="_blank">2</a></div></div>
<br>
<br>
<table style="height:187px;margin-bottom:115px;">
    <tbody>
    <tr>
        <td style="height:187px;">&nbsp;</td>
        <td style="height:187px;">
            <div class="class-details">
                <iframe src="https://www.youtube.com/embed/k__rkv9XW1w" width="460" height="230" frameborder="0" allowfullscreen=""></iframe> <a class="details" href="/bibik-jurij.html" target="_blank" title="Yuri Bibik School">More details&nbsp;</a></div>
        </td>
        <td style="height:187px;">&nbsp;</td>
        <td style="height:187px;">
            <div class="class-details">
                <iframe src="https://www.youtube.com/embed/xOfWq-V5Drs" width="460" height="230" frameborder="0" allowfullscreen=""></iframe> <a class="details" href="/aleksej-dreev.html" target="_blank" title="Alexey Dreev School">More details</a></div>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table style="height:187px;margin-bottom:115px;">
    <tbody>
    <tr>
        <td style="height:187px;">&nbsp;</td>
        <td style="height:187px;">
            <div>
                <iframe src="https://www.youtube.com/embed/Lx_fEUFCBjE" width="460" height="230" frameborder="0" allowfullscreen=""></iframe> <a href="/sergej-shipov.html" target="_blank" title="Sergey Shipov School">&nbsp;More details&nbsp;</a></div>
        </td>
        <td style="height:187px;">&nbsp;</td>
        <td style="height:187px;">
            <div>
                <iframe src="https://www.youtube.com/embed/h_At19Tl77Q" width="460" height="230" frameborder="0" allowfullscreen=""></iframe> <a href="/daniil-linchevskij.html" target="_blank" title="Daniil Linchevskij School">&nbsp;More details&nbsp;</a></div>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table style="height:187px;margin-bottom:115px;">
    <tbody>
    <tr>
        <td style="height:187px;">&nbsp;</td>
        <td style="height:187px;">
            <div>
                <iframe src="https://www.youtube.com/embed/IyJ29KsdUPQ" width="460" height="230" frameborder="0" allowfullscreen=""></iframe> <a href="/elena-bystrjakova.html" target="_blank" title="Elena Bystrjakova School">&nbsp;More details&nbsp;</a></div>
        </td>
        <td style="height:187px;">&nbsp;</td>
        <td style="height:187px;">
            <div>
                <iframe src="https://www.youtube.com/embed/orNHMrYxu9Y" width="460" height="230" frameborder="0" allowfullscreen=""></iframe> <a href="/rimma-bakustina.html" target="_blank" title="Rimma Bakustina School">&nbsp;More details&nbsp;</a></div>
        </td>
    </tr>
    </tbody>
</table>Connection to the tasks and system of Sergey Valentinovich Konotop.&nbsp;<a href="/konotop.html" target="_blank">More information ...</a>
<br>Connection to the problems and system of Grandmaster Lev Alburt.&nbsp;<a href="/lev-alburt.html" target="_blank">More information ...</a>
<div style="text-align:justify;">
    <br>
</div>
<div style="text-align:justify;">Page 2. <a href="/chess_schools_and_masters_page_1.html" target="_blank">Back to Page 1</a>.</div>






















<b>CHESS LESSONS LEARNING for beginners online ♕ VIDEO 1 Chess game rules:&nbsp;</b>
<br>
<br>
<br>
<iframe width="917" height="518" src="https://www.youtube.com/embed/UQ6SeqPrVLc?list=PL7Oz1Hog4bfWySbNnaP5V-nco94v2RIyo" frameborder="0" allowfullscreen=""></iframe>
<br><a href="https://www.youtube.com/watch?v=UQ6SeqPrVLc&list=PL7Oz1Hog4bfWySbNnaP5V-nco94v2RIyo" target="_blank"><b>Play list</b></a>



<iframe width="917" height="518" src="https://www.youtube.com/embed/CSA9se6t82I?list=PLz8ZQShTztXFaui2PtCeTPhLE2EIcogyf" frameborder="0"  allowfullscreen></iframe>



3,    <li class="paragraph-video"><a href="/Online_School_of_Grandmaster_Roman_Ovechkin.html" target="_blank">Online School of Grandmaster Roman Ovechkin</a></li>


<iframe src="https://www.youtube.com/embed/LUgAqt6PGI4" width="720" height="540" frameborder="0" allowfullscreen=""></iframe>


<iframe width="720" height="540" src="https://www.youtube.com/embed/LUgAqt6PGI4?list=PLz8ZQShTztXE4CigCnagXlrxYn3JzfSkw" frameborder="0"  allowfullscreen=""></iframe>



<iframe width="720" height="540" src="https://www.youtube.com/embed/n0Q-Tq4uXTQ?list=PLz8ZQShTztXE4CigCnagXlrxYn3JzfSkw" frameborder="0"  allowfullscreen=""></iframe>


<iframe width="720" height="540" src="https://www.youtube.com/embed/QdZ1MuCqWQc?list=PLz8ZQShTztXE4CigCnagXlrxYn3JzfSkw" frameborder="0"  allowfullscreen=""></iframe>


<iframe width="720" height="540" src="https://www.youtube.com/embed/QdZ1MuCqWQc?list=PLz8ZQShTztXE4CigCnagXlrxYn3JzfSkw" frameborder="0" allowfullscreen=""></iframe>


<iframe width="720" height="540" src="https://www.youtube.com/embed/QdZ1MuCqWQc?list=PLz8ZQShTztXE4CigCnagXlrxYn3JzfSkw" frameborder="0"  allowfullscreen=""></iframe>

<iframe width="720" height="540" src="https://www.youtube.com/embed/QdZ1MuCqWQc?list=PLz8ZQShTztXE4CigCnagXlrxYn3JzfSkw" frameborder="0" allowfullscreen=""></iframe>




<iframe width="609" height="342" src="https://www.youtube.com/embed/i2IdV4urMw0" frameborder="0"  allowfullscreen=""></iframe>
<iframe width="609" height="342" src="https://www.youtube.com/embed/0hMz9hDiiEI" frameborder="0" allowfullscreen=""></iframe>



















<iframe src="https://vk.com/video_ext.php?oid=480216009&amp;id=456239024&amp;hash=0bb42229fd4c8f55" width="609" height="342" frameborder="0" allowfullscreen=""> </iframe>
<iframe src="https://vk.com/video_ext.php?oid=480216009&amp;id=456239032&amp;hash=5d159025e8d25888" width="609" height="342" frameborder="0" allowfullscreen=""> </iframe>





3.Creating categories: create, load chess positions, create databases.
3.Creating categories: create, load chess positions, create databases.
3.Creating categories: create, load chess positions, create databases.








<iframe width="871" height="490" src="https://www.youtube.com/embed/GQvR_fLkNKo?list=PLz8ZQShTztXFIfFoZJ3N5EVxsjRAkf8YU" frameborder="0"  allowfullscreen=""></iframe>

<iframe width="871" height="490" src="https://www.youtube.com/embed/6WD2NOJN4TQ?list=PLz8ZQShTztXFIfFoZJ3N5EVxsjRAkf8YU" frameborder="0" allowfullscreen=""></iframe>





















<iframe src="https://www.youtube.com/embed/vLNHiaKSY3s" width="720" height="540" frameborder="0" allowfullscreen=""> </iframe>


<iframe  width="720" height="540" src="https://www.youtube.com/embed/vLNHiaKSY3s?list=PLz8ZQShTztXE4CigCnagXlrxYn3JzfSkw" frameborder="0" allowfullscreen=""></iframe>





205056592814 9601

205056592814 7001



205001300016 0001

205056592814 7001



<iframe width="720" height="540" src="https://www.youtube.com/embed/sFZJdMiSnyg?list=PLz8ZQShTztXE4CigCnagXlrxYn3JzfSkw" frameborder="0"  allowfullscreen=""></iframe>


<iframe width="720" height="540" src="https://www.youtube.com/embed/yc7mxauPcBI?list=PLz8ZQShTztXE4CigCnagXlrxYn3JzfSkw" frameborder="0"  allowfullscreen=""></iframe>














































if($type == "NEW"){
return '<a href="#'.$itender->id.'" data-id="'.$itender->id.'" class="btn btn-xs btn-primary viewTneder" data-toggle="tooltip-custom" data-placement="top" title="Դիտել" data-original-title="Դիտել" data-trigger="hover"><i class="fa fa-eye"></i></a>
<a href="/admin/itender/'.$itender->id.'/check" class="btn btn-xs btn-primary" data-toggle="tooltip-custom" data-placement="top" title="Հաստատել" data-original-title="Հաստատել" data-trigger="hover"><i class="fa fa-check"></i></a>
<a href="#" data-tableName="userTable" id="id__'.$itender->id.'" data-id="'.$itender->id.'" data-href="/admin/itender/delete/'.$itender->id.'"  class="btn btn-xs btn-danger waves-effect waves-light cancelAndDeleteItem" data-toggle="tooltip-custom" data-placement="top" title="Ջնջել" data-original-title="Ջնջել" data-trigger="hover"><i class="fa fa-ban"></i></a>';
}else{
return '<a href="#'.$itender->id.'" data-id="'.$itender->id.'" class="btn btn-xs btn-primary viewTneder" data-toggle="tooltip-custom" data-placement="top" title="Դիտել" data-original-title="Դիտել" data-trigger="hover"><i class="fa fa-eye"></i></a>
<a href="#" data-tableName="userTable" id="id__'.$itender->id.'" data-id="'.$itender->id.'" data-href="/admin/itender/delete/'.$itender->id.'"  class="btn btn-xs btn-danger waves-effect waves-light deleteItem" data-toggle="tooltip-custom" data-placement="top" title="Ջնջել" data-original-title="Ջնջել" data-trigger="hover"><i class="fa fa-ban"></i></a>';
}























<b>Для первого класса:</b>
<br>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/Op-RMVDshmc?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/MeIKIFbcXjQ?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/Oz4Q4f_kaJA?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/V_MRs_2FarM?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/5dBl6_6Le60?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/u1kMxlgYZf0?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/yh-wW1JnqNc?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/1QxeMdcAC_Q?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/tQS1Gx3p_qo?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/uIKiy8vWS8A?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/jr1SFKlbWOo?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/DQEhPeS7y3M?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/gzSX7dNQotY?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/7z6x4piPOCw?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/ljGjk309-N4?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/G9E9UFQBbK8?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/oUBAclautEA?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/8H6vMsKztV8?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/VOOQKYyPBFY?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br><b>Заключительное видео:&nbsp;</b>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/0yAjbm7mRE8?list=PLz8ZQShTztXF3hsW6P4aoGxEcfA9YDTCx" frameborder="0" allowfullscreen=""></iframe>
<br>
<br><b>Для второго класса:&nbsp;</b>
<br>
<br>
<iframe width="956" height="538" src="https://www.youtube.com/embed/vGri33ziAaA?list=PLz8ZQShTztXGlex9B2648hrObl_5B8UDD" frameborder="0" allowfullscreen=""></iframe>

































Подключение к задачам и системе Сергея Валентиновича Конотопа. <a href="/konotop.html" target="_blank">Подробнее...</a>
<br>Подключение к задачам и системе Гроссмейстера Льва Альбурта. <a href="/lev-alburt.html" target="_blank">Подробнее...</a>







<ul>
    <li>Connection to the tasks and system of Sergey Valentinovich Konotop.&nbsp;<a href="/konotop.html" target="_blank">More information ...</a>
        <br>Connection to the problems and system of Grandmaster Lev Alburt.&nbsp;<a href="/lev-alburt.html" target="_blank">More information ...</a>
        <div style="text-align:justify;">
            <p>&nbsp;</p>
        </div>
    </li>
</ul>

<div class="">
    Цель моего мотивационного письма – предложить Вам свою кандидатуру в качестве HTML Верстальщика.
    В мае 2014 года я окончила бакалавр экономического факультета.
    В сентябре 2020 поменяла полностью направление своей деятельности и прошла частные курсы по Frontend разработке.
    Спустя 6 месяцев смогла реализоваться как HTML CSS разработчик .
    Освоение этой специальности является моей целью.
    Опыта работы в этой сфере у меня небольшой, но я готова проявить высокий уровень самоорганизованности,
    чтобы стать хорошим сотрудником для компании «Light». У меня есть огромное желание развиваться,
    и я готова показать это на практике. Во время предстоящей работы я хочу улучшить все «азы» данной
    профессии и стать полноценным сотрудником вашей компании, работая для ее процветания.
    Более подробная информация о моём предыдущем опыте работы и профессиональных качествах находится в приложенном резюме.
    В работе для меня наиболее ценно саморазвитие – карьерный рост и осознание себя профессионалом.
    Буду очень рада предоставленной мне возможности стать профессионалом в области
    программирования и приложу все усилия, чтобы оправдать Ваше доверие!
    С уважением, Галстян Ани.
    P.S :
    Предоставляю свое резюме ,а так же страничку в linkedin
    https://www.linkedin.com/in/ani-galstyan-191788195/
    https://galani93.online/

</div>


1.Сергей Иванов

"The chessmasterpro project is a unique platform for learning
and practicing chess in modern conditions,
when a continuously increasing flow of information is combined
with a constant lack of time…Sergey Germanovich Kolesnyak conceived
and implemented an amazing idea-to combine in one place and present
in a convenient format a huge amount of knowledge about chess: general
principles of playing the opening, and specific opening systems,
and the basics of strategy and planning the game in the middlegame,
and tactical motives and typical combinations, and various pawn structures,
and the ratio of pieces, and a variety of accurate and game endgame positions,
and much,much more… Some skeptics did not believe in such ambitious plans,
but in the end everything worked out:the project is alive and actively developing.
We wish him good luck, only through the joint efforts of all interested parties:
amateurs, professionals, coaches, children and their parents will it be possible to achieve results.
The road will be mastered by the walking one!"

/***********************************/

Sergey Ivanov.
Master of Sports of the USSR since 1981. He was a participant in many Leningrad championships.
In 1991, 1992 and 1994 he became the city's champion.
Repeatedly played for the team of "Plastpolymer".
In 1995, he received the title of grandmaster.
Winner of international tournaments in Ploiesti in 1980, Stockholm in 1999 and 2000, and the Chigorin Memorial in St. Petersburg in 2004.Four-time champion of Sweden, seven-time champion of Poland.
He took part in the Leningrad — Moscow matches.
He is known as the author of a number of books and publications on chess.
Chairman of the Coaching Council of the St. Petersburg Chess Federation.



2.Соложенкин Евгений Александрович

One of the notable events of the outgoing year 2020 was the creation
and development of a new chess platform chessmaster Pro.
The author of this project — a caring person and a qualified chess player Sergey Kolesnyak has created a product
that will be interesting and useful for both coaches and chess players themselves.
The diverse functionality and cute design makes the task of preparing for classes
and the training itself as simple and pleasant as possible. The content is constantly updated.
I have no doubt that many people will be interested in the concept of chessmaster Pro.
I would like to wish this project a long and happy life!"

/***********************************/

Solozhenkin, Evgeniy Aleksandrovich.
International Grandmaster, Master of Sports of the USSR.
Senior coach of RGO NWFD, senior coach of FIDE (2019).
Champion of Leningrad and St. Petersburg, vice-champion of Paris, champion of Russia and France among club teams,
world champion among high school students in the national team.
The author of the books "Morphy's Defense Game in the Spanish Party
"(2016) and" The Indian Queen's Defense Game " (2018).



3.  Юнеев Алексей

"Thank you very much for such a fruitful activity, the importance of which is difficult to overestimate.
I am very glad that many players have had free and easy access to a variety of improvement opportunities
from different specialists and that the chess coaches, previously limited in the possibilities to expand
your experience and sharing this experience with colleagues, he finally got a view of their activities
and can mutually enrich each other with their ideas, and also to help his disciples and all the other
chess players who want to improve. I have no doubt that we will soon see the results of your activities
in increasing the number of our students and their results.
I wish you not to rest on your laurels and find new interesting and accessible opportunities
for chess players and their coaches."

/***********************************/

Unei Alex.
International Master, senior coach of the Chess Department since 1988.
Since 1990, he has been the head of the city methodical Association of Teachers.
Excellent student of national education of the RSFSR.
Member of the Children's and Youth Commission of the Russian Chess Federation.



4. Евгений Погребной

"A very difficult 2020 year is coming to an end, in which chess,
nevertheless, they developed well, mainly in the online format!
In chess education (study) of young (and not only) chess players already
now the educational chess project fits
in well Chessmasterpro.com which undoubtedly has a great future!
The coming year 2021 should be the year for the implementation of the project's ideas and goals
in Russia and the world in many ways decisive!
We wish in the coming year leader Sergei Kolesnik,
to all employees and developers of the project Chessmasterpro.com good health,
inexhaustible energy and good luck in everything!"

/***********************************/

Evgeny Pogrebnoy. FIDE Referee,
trainer-teacher of the highest qualification category, kms, Republic of Adygea.


5.Дементьев Олег Николаевич


"The best thing for a coach is the success of students! Sertolovo was one of the first to join this project.
It's great that the coach can point out the mistakes of the students and determine the topics and tasks for them.
a specific student to enhance the game. The result of this year's classes on this platform is excellent, I think.
Six winners and the Champion of the Northwestern Federal District.
Developers are always in touch and working to improve the platform.
According to my data, there will be a game zone soon."


/***********************************/

Dementyev Oleg Nikolaevich.
Leading chess coach of the Olymp Children's Chess Club.





https://it.nar.am/view/participating-seller.html

ԱՅԼ ՄՐՑՈՒՅԹՆԵՐ, ՄԱՍՆԱԿԻՑՆԵՐ, ԳՆԵՐ, ՀԱՂԹՈՂՆԵՐ


* ԱՆՁՆԱԿԱՆ ՏՎՅԱԼՆԵՐ / Վաճառող

* ԱՅԼ ՄՐՑՈՒՅԹՆԵՐ, ՄԱՍՆԱԿԻՑՆԵՐ, ԳՆԵՐ, ՀԱՂԹՈՂՆԵՐ

  -Ակտիվ տենդերներ
    -ՈՒՂԵՑՈՒՅՑ
      ITENDER ՀԱՄԱԿԱՐԳԻ ՄԻՋՈՑՈՎ ՀԱՅՏԻ ՊԱՏՐԱՍՏՄԱՆ ՈՒՂԵՑՈՒՅՑ
      ԹՂԹԱՅԻՆ ՁԵՒՈՎ ՄԱՍՆԱԿՑՈՒԹՅԱՆ ՈՒՂԵՑՈՒՅ
      ԷԼԵԿՏՐՈՆԱՅԻՆ ՄԱՍՆԱԿՑՈՒԹՅԱՆ ՈՒՂԵՑՈՒՅՑ

  -Ավարտված տենդերների մասնակիցներ, գներ, հաղթողներ

  -Հետաքրքրող  Մրցույթներ

  -Հաղթած մրցույթներ

  -Միջազգային տենդերներ


















